/* RESET */

* {
  /* box-sizing so that padding doesnt take up the width */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2rem;
}

/***************************** MOBILE ***********************/

/****** HERO IMG *****/
.hero-image-one {
  background-image: linear-gradient(
  rgba(255, 0, 0, 0.1),
  rgba(255, 0, 0, 0.1)),
  url("images/nature_small.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.hero-image-one .hero-text {
  color: white;
  text-align: center;
}

.hero-image-one .hero-text h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-image-one .hero-text p{
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 0 5rem;
}

.button {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: .2rem;
  margin-top: 2rem;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(112, 121, 140, 0.932);
  border: solid #656f83d0 .1rem;
}

.button a:visited {
  color: white;
}

/* .button a:active {
  color: rgb(32, 32, 32);
} */

/* .button :link {
  color: rgb(32, 32, 32);
} */


.button:hover {
  color: #70798ca1 !important;
  background-color: rgb(255, 255, 255);
}

/****** CONTACT FORM ******/

#form-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1.5rem 1rem;
  /* height: 40vh; */
}

#contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.2rem;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, .7); */
  background-color: #dad2bcd2;
  max-width: 450px;
}

input[type=text], select, textarea{
  padding: .2rem;
  margin: .2rem 0;
  border: 0.1rem solid rgba(110, 103, 103, 0.7);
  border-radius: 0.2rem;
  width: 100%;
}

textarea {
  resize: none;
  height: 10vh;
}

/* .form-button {
  font-size: 1rem;
  color: white;
  background-color: rgba(32, 32, 32, 0.9);
  padding: .3rem 1rem;
  border-radius: .2rem;
}

.form-button:hover {
  color: rgba(32, 32, 32, 0.9);
  background-color: rgba(255, 255, 255, 0.7);
} */

/****** OUR EMPLOYEES ******/

#emp-background {
  display: flex;
  justify-content: center;
}

#emp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1.5rem;
 /*  background-color: rgba(255, 255, 255, .7); */
  background-color: #dad2bcd2;
  /* background-color: #f5f1ed; */
  border-radius: 0.2rem;
  padding: 1rem 0;
  max-width: 450px;
}

#emp-one {
  margin: 1rem 1rem;
  padding: .2rem;
  text-align: center;
  /* background-color: #70798cb4; */
  border-radius: 0.2rem;
}

#emp-two {
  margin: 1rem 1rem;
  padding: .2rem;
  text-align: center;
  /* background-color: #70798cb4; */
  border-radius: 0.2rem;
}

.img-employee {
  width: 100%;
  /* margin-bottom: .4rem; */
  object-fit: cover;
  border-radius: 0.1rem;
  vertical-align: middle;
  }

.emp-text {
  /* block-size: fit-content; */
  font-size: .8rem;
  padding: 1.5rem 0;
  /* background-color: grey; */
  /* background-color: #A99985; */
  background-color: #70798cb4;
  color: rgb(255, 255, 255);
  border-radius: 0.1rem;
}

/****** IMG *****/

.image-banner{
  width: 100%;
  object-fit: cover;
  margin-top: 1rem;
  max-height: 30vh;
  vertical-align: middle;
}


/***************************** DESKTOP ***********************/

@media screen and (min-width: 750px) {
  /****** HERO IMG ******/
  .hero-image-one {
    background-image: linear-gradient(
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.1)),
    url("images/nature_large.jpg");
    background-position: center bottom;
    height: 50vh;
  }

  /****** CONTACT FORM ******/
  #contact-container {
    max-width: 700px;
    padding: 1rem 2rem;
  }

  input[type=text], select, textarea {
    padding: .5rem;
  }

  /****** OUR EMPLOYEES ******/
  #emp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "h2 h2"
    "emp-one emp-two";
    max-width: 700px;
    padding: 1rem 2rem;

  }

  #emp-container h2 {
    grid-area: h2;
    text-align: center;
    font-size: 1.5rem;
  }

  #emp-one {
    grid-area: emp-one;
  }

  #emp-two {
    grid-area: emp-two;
  }

  /******  IMG  ******/
  .image-banner {
    max-height: 40vh;
    vertical-align: middle;
  }
}
