/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*******************************************************************************

MOBILE

*******************************************************************************/

/* HEADER */
.nav {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1 0 10vh; */
  background: #615c58;
}

.logo {
  border: 1px solid #000;
  flex: 1 0 auto;
  padding: 1px;
  margin: 1px;
}

span {
color: #ffffff;
}

.menu {
  border: 1px solid #000;
  /* flex: 10 0 auto; */
  text-align: right;
  padding: 1px;
  margin: 1px;
}

.menu ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;

}

.nav a {
padding: 1vw;
margin: 1vw;
}

a {
text-decoration: none;
}

/* MAIN */
#hero-container{
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.hero {
  border: 1px solid #000;
  flex: 1 0 90vh;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/images/lofoten_landing_hero2.jpg) center center/cover;
  position: relative;
}

/* Overlay */
.hero::before {
content: "";
/* When having pos absolute the parent has to be pos relative see .hero */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(28, 28, 28, 0.6);


}

/* Anything in .her get z index of 10 menaing higher z indez closer to me/screen */
.hero * {
z-index: 10;
}

.hero-txt {
border: solid 1px #000;
padding: 1px;
margin: 1px;
text-align: center;
}

#content-container{
border: 1px solid #000;
display: flex;
flex-direction: column;
}

.hike {
  border: 1px solid #000;
  flex: 1 0 30vh;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(/images/hike.jpg) center center/cover;
}

.hike-txt {
  border: 1px solid #000;
  padding: 1vw;
  margin: 2vh;
  background-color: #3c3c3c;
  color: #fff;
}

.eat {
  border: 1px solid #000;
  flex: 1 0 30vh;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(/images/eat.jpg) center center/cover;
}

.eat-txt {
border: 1px solid #000;
padding: 1vw;
margin: 2vh;
background-color: #3c3c3c;
color: #fff;
}

.sleep {
  border: 1px solid #000;
  flex: 1 0 30vh;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(/images/live.jpg) center center/cover;
}

.sleep-txt {
border: 1px solid #000;
padding: 1vw;
margin: 2vh;
background-color: #3c3c3c;
color: #fff;
}

/* FOOTER */
.footer {
  border: solid 1px #000;
  flex: 1 0 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c3c3c;
  color: #fff;

}

.foot-txt {
  border: solid 1px #000;
  padding: 1vw;
  margin: 1vh;
  background-color: #3c3c3c;
  color: #fff;
}

/*******************************************************************************

TABLET / DESKTOP

*******************************************************************************/

@media (min-width: 750px) {
.nav {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex: 1 0 10vh; */
}


.logo {
border: 1px solid #000;
/* flex: 1 0 auto; */
padding: 1rem;
margin: 1rem;
}


.menu {
border: 1px solid #000;
/* flex: 10 0 auto; */
text-align: right;
padding: 1rem;
margin: 1rem;
}

.menu ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
}


/* MAIN */

#content-container{
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  height: 90vh;

}

.hike, .eat, .sleep {
border: 1px solid #000;
flex: 1;
padding: 1px;
margin: 1px;
display: flex;
align-items: center;
justify-content: center;

}

.hike-txt{
border: 1px solid #000;
padding: 1px;
margin: 10rem 0 0 0;
text-align: center;
align-self: flex-start;
}

.eat-txt{
border: 1px solid #000;
padding: 1px;
margin: 1px;
text-align: center;
align-self: center;
}

.sleep-txt{
border: 1px solid #000;
padding: 1px;
margin: 0 0 10rem 0;
text-align: center;
align-self: flex-end;
}
}
