* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    border: 1px solid #000;
}

.logo {
    border: 1px solid #000;
    flex: 1 0 auto;
    padding: 1px;
    margin: 1px;
}

.menu {
    border: 1px solid #000;
    flex: 10 0 auto;
    text-align: right;
    padding: 1px;
    margin: 1px;
}

.main-content{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.hero {
    border: 1px solid #000;
    flex: 1 0 37vh;
    padding: 1px;
    margin: 1px;

}

.hero-txt {
    text-align: center;
    
    display: inline;
}

.hike {
    border: 1px solid #000;
    flex: 1 0 15vh;
    padding: 1px;
    margin: 1px;
}
.eat {
    border: 1px solid #000;
    flex: 1 0 15vh;
    padding: 1px;
    margin: 1px;
}
.sleep {
    border: 1px solid #000;
    flex: 1 0 15vh;
    padding: 1px;
    margin: 1px;
}

.footer {
    border: solid 1px #000;
    display: flex;
}

.foot-txt {
    border: solid 1px #000;
    flex: 1;
    padding: 1px;
    margin: 1px;
    text-align: center;
}

